blinker            1.8.2
click              8.1.7
DAWG-Python        0.7.2
Flask              3.0.3
Flask-SQLAlchemy   3.1.1
greenlet           3.1.1
itsdangerous       2.2.0
Jinja2             3.1.4
MarkupSafe         3.0.2
pip                24.2
pymorphy3          2.0.2
pymorphy3-dicts-ru 2.4.417150.4580142
setuptools         75.1.0
SQLAlchemy         2.0.36
typing_extensions  4.12.2
Werkzeug           3.0.6
wheel              0.44.0

