<!DOCTYPE html>
<html>
<head>
    <title>PiNKРЯ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
  .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
  .spacing {
            margin-bottom: 20px;
  }
  .large-text {
    font-size: 18px;
    font-weight: normal;
  }
  .spacing-large {
    margin: 50px 0;
  }
  .mb-4 {
    margin-bottom: 20px;
  }
  .mt-4 {
    margin-top: 30px;
  }
    </style>

</head>
<body>

    <div class="container-fluid" style="background-color:#d598a3;color:#fff;height:190px;padding-left:50px;">
        <h1 class="spacing">Это PiNKРЯ</h1>
        <h3 class="spacing">Корпус по "Преступлению и наказанию"</h3>
        <blockquote>
            <p>Лингвист ли я дрожащий или корпус имею...</p>
        </blockquote>
    </div>

    {% block content %} {% endblock %}
    <br>
</body>
</html>


