{% extends 'base.html' %}

{% block title %} PiNKРЯ {% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Главная</a></li>
        <li><a href="/search">Поиск</a></li>
        <li><a href="/bigrams">2-граммы</a></li>
        <li><a href="/trigrams">3-граммы</a></li>
      </ul>
    </nav>

    <div style="margin: 50px 10%">
    <div class="container my-5">
        <h1 class="text-center mb-4 mt-4">Что вам нужно знать про PiNKРЯ?</h1>
        <ul class="list-unstyled">
            <li><h4 class="large-text">- Полный текст «Преступления и наказания» в одном месте - 13 тысяч предложений, 170 тысяч слов</h4></li>
            <li><h4 class="large-text">- 3 вида поиска: по одному элементу, 2-граммы, 3-граммы</h4></li>
            <li><h4 class="large-text">- Возможность поиска по части речи, лемме и словоформе</h4></li>
            <li><h4 class="large-text">- Снятие омонимии: укажи часть речи слова, которое хочешь найти, и получи точный ответ</h4></li>
            <li><h4 class="large-text">- Узнай больше: дополнительная характеристика для каждого найденного слова</h4></li>
        </ul>

        <hr class="spacing-large">

        <h1 class="text-center mb-4">Инструкция по работе с PiNKРЯ</h1>

        <div class="mb-4">
            <h4>Режим «Поиск леммы»</h4>
            <p>Введи слово и получи все предложения, где это слово встречается в любой грамматической форме.</p>
        </div>

        <div class="mb-4">
            <h4>Режим «Поиск словоформы»</h4>
            <p>Введи слово и получи все предложения, где это слово встречается только в этой грамматической форме.</p>
        </div>

        <div class="mb-4">
            <h4>Режим «Поиск части речи»</h4>
            <p>Введи часть речи и получи все предложения с этой частью речи.</p>
        </div>

        <div class="mb-4">
            <h4>Омонимия</h4>
            <p>Чтобы найти слова определённой части речи, тебе необходимо добавить к своему запросу специальную функцию:</p>
            <p><em>Знакомый.NOUN</em> - выдаст все предложения, где слово «знакомый» будет существительным.</p>
            <p><em>Знакомый.ADJ</em> - выдаст все предложения, где слово «знакомый» будет прилагательным.</p>
            <p>Функция работает как с леммами, так и со словоформами. Просто выбери нужный режим.</p>
        </div>

        <div class="mb-4">
            <h4>Теги</h4>
            <p>Список используемых тегов ты можешь найти на страницах с поиском.</p>
            <br>
        </div>
        <br>
    </div>
    <br>
    </div>
{% endblock %}